/*************** General ***************/ 
html {
    font-size: 62.5%;
}

body{
    border: none;
    margin: 0;
    font-family: "Invention", sans-serif;
    line-height: 1.75;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: #f6f6f6;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Khand", sans-serif;
    font-weight: 700;
    line-height: 1.3;
}