/*************** Header ***************/ 
.site-header{
    background-color: $white;
    min-height: 134px;
}

.top-header{
    padding-top: 32px;
}
.search-form{
    position: relative;
    [type=search]{
        background-color: #ececec;
        font-size: 1.9rem;
        border: 1px solid transparent;
        line-height: 26px;
        padding: 7px 16px 7px 60px;
        border-radius: 21px;
    }
    .dashicons{
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
    }
}
.site-branding{
    display: block;
}
.site-title{
    text-transform: uppercase;
    margin: 0;
    font-size: 3.5rem;
    letter-spacing: 6px;
}
.site-tagline{
    font-family: $bodyFont;
    font-size: 1.9rem;
    margin: 0;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        a{
            color: $textColor;
            font-size: 2.1rem;
            padding: 30px 27px;
            display: block;
        }
        &:hover{
            a{
                color: $primaryColor;
            }
        }
    }
}